:root {
    --albumCoverDimensions: auto;
    --albumCoverScaling: auto;
    --liBorderRadius: 5px;
    --liPadding: 4px;
    --liMarginB: 4px;
    --liHoverBG: #B57EDC;
    --liHoverTxt: #fafafa;
    --tblTextAlign: left;
}

body {
    background-color: #FAFAFA;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #8A2BE2;
    
}

ul {
    max-height: 94vh;
}

a:hover {
    color: #B57EDC;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 94vh;
}

.search {
    position: relative;
}

.app {
    display: flex;
    flex-direction: column;
    max-height: inherit;
}

.artistSearch {
    display: flex;
    align-items: stretch;
}

.searchInput {
    transition: width 0.4s ease-in-out;
    background-color: rgb(203, 203, 203);
    border: none;
    border-radius: 10px 0px 0px 10px;
    width: 7.1ch;
    min-height: 1cap;
    padding-left: 10px;
}

.searchInput:focus {
    background-color: #98FF98;
    width: 300px;
    outline: none;
}

.searchBtn {
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #B57EDC;
    min-width: 40px;
    min-height: 20px;
    cursor: pointer;
}

.searchIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #333333;
}

.searchBtn span {
    display: inline-block;
    transition: transform 0.2s ease;
}

.searchBtn:active span {
    transform: scale(0.8);
}

.searchBtn:disabled span {
    transition: none;
}

.searchSuggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: relative;
    background: white;
    width: 45px;
    display: none;
}

.searchSuggestions div {
    padding: 8px;
    cursor: pointer;
}

.searchSuggestions div:hover {
    background-color: #f0f0f0;
}

.artists {
    align-self: flex-start;
    padding-right: 5px;
}

.artistPara {
    margin-block-start: 0em;
}

.information {
    display: flex;
    flex-direction: inherit;
    align-self: flex-end;
    max-height: inherit;
}

.artistInformation {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 20vw;
    max-width: 30vw;
    max-height: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    overflow: hidden;
    display: none;
}

.artistBio {
    padding: 5px;
    min-height: 10lh;
    height: 12lh;
    min-width: var(--artistInfoMinWidth);
    max-height: 40%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #F8F5FC;
    border: 1px solid #D8B4E2;
}

.artistBio p {
    color: #333333
}

.albumInformation {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: fit-content;
    max-height: inherit;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
    display: none;
}

.albumCover {
    align-self: center;
    height: var(--albumCoverScaling);
    width: var(--albumCoverScaling);
    max-width: 110px;
    max-height: var(--albumCoverDimensions);
    border: 1px;
    border-radius: 1px;
    margin-top: 5px;
}

.albumInfoTbl {
    align-self: center;
    text-align: var(--tblTextAlign);
    border-collapse: separate;
    border-spacing: 2ch 5px; 
    table-layout: auto;
}
.albumInfoTbl tr {
    margin-top: 3px;
    overflow: hidden;
    border: solid;
    border-width: 0px 1px 0px 1px;
    border-radius: 5px;
}

.albumInfoTbl th {
    font-weight: 600;
    white-space: nowrap;
    color: #0f172a;
}

.albumInfoTbl td {
    color: #334155;
}

.tracklistHeading {
    width: 10ch;
}

.artistList {
    padding-inline-start: 0px;
}

.artistList li {
    min-width: 33ch;
    margin-bottom: var(--liMarginB);
    list-style-type: none;
    cursor: pointer;
    border: none;
    border-radius: var(--liBorderRadius);
    transition: all 0.5s;
}

.artistList li {
    background-color: #008080;
    color: #dddddd;
}

.artistList li:hover {
    background-color: #B57EDC;
}

.artistList, .albumList {
    list-style: none;
    max-width: 50vw;
    padding-inline-start: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.albumList li {
    background-color: #B57EDC;
    color: #FAFAFA
}

.albumList li:hover {
    background-color: #008080;
}

li {
    position: relative;
    background-color: #008080;
    color: #fafafa;
    margin-bottom: var(--liMarginB);
    padding: var(--liPadding);
    list-style-type: none;
    cursor: pointer;
    border: none;
    border-radius: var(--liBorderRadius);
}

li span {
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

li span:after {
    content: '»';
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: 0.5s;
}

li:hover span {
    padding-right: 25px;
}

li:hover span:after {
    opacity: 1;
    right: 0;
}

.trackList {
    width: fit-content;
}

.numCol {
    width: 3ch;
}

.titleCol {
    padding-left: 2px;
    width: auto;
}

.durationCol {
    width: 7ch;
}

.tracklistTbl {
    min-width: 110px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: auto;
}

#tracklistTbl th, #tracklistTbl td {
    text-align: var(--tblTextAlign);
}

#tracklistTbl thead th {
    position: sticky;
    background-color: #fff;
    color: black;
    top: 0;
    z-index: 2;
}


#tracklistTbl tr {
    color: #fafafa;
}

#tracklistTbl tr:nth-child(even) {
    background-color: #008080;
}

#tracklistTbl tr:nth-child(odd) {
    background-color: #B57EDC;
}

#tracklistTbl td:hover {
    background-color: rgb(225, 225, 225);
    color: black;
}

#tracklistTbl tfoot tr {
    color: black;
}

#tracklistTbl tfoot th, #tracklistTbl tfoot td {
    position: sticky;
    background-color: #fff;
    bottom: 0;
    z-index: 2;
}

@media (min-width: 1024px) {
    .app {
        flex-direction: row;
    }
    .albumCover {
        max-width: 300px;
    }
    .tracklistTbl {
    min-width: 300px;
    }
}