:root {
    --albumCoverDimensions: auto;
    --albumCoverScaling: auto;
    --liBorderRadius: 5px;
    --liPadding: 4px;
    --liMarginB: 4px;
    --tblTextAlign: left;
    --lightThemeHeading: #008080;
    --drkThemeHeading: #D8B4E2;
}
body {
    padding: 5px;
}

.lightTheme {
   background-color: rgba(252, 249, 253, 0.70);
   color: #4A4A4A;
}

.darkTheme {
    background-color: #2A1F2D;
    color: #F8F9FA;
}

/* #region container etc. */

.container {
    display: flex;
    flex-direction: column;
    
    max-height: 94vh;
}

.top {
    display: flex;
    position: relative;
    flex-direction: row;
}

.app {
    display: flex;
    flex-direction: column;
    max-height: inherit;
}

/* #endregion container etc. */

.search {
    position: relative;
    
}

/* #region Search styles */
.artistSearch {
    display: flex;
    position: relative;
    width: 100%;
}

.searchInput.pure-input-rounded {
    transition: width 0.4s ease-in-out;
    background-color: #F8F5FC;
    border: none;
    width: 6.3ch;
    min-height: 2cap;
    padding-left: 10px;
}


.searchInput.pure-input-rounded:focus {
    background-color: #DDA0DD;
    width: 300px;
    border: none
}

.searchInput::placeholder {
    color: #333333;
}

.searchBtn {
    border: none;
    position: absolute;
    right: 0;
    border-radius: 0em 1.5em 1.5em 0em;
    background-color: #B57EDC;
    height: 100%;
    min-width: 40px;
    min-height: 20px;
    cursor: pointer;
}

.searchBtn:active i {
    color: #333333;
}

.searchBtn span {
    display: inline-block;
    transition: transform 0.2s ease;
}

.searchBtn:active span {
    transform: scale(0.8);
}

.searchBtn:disabled span {
    transition: none;
}

.clearBtn {
    position: absolute;
    right: 4ch;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}


.searchResults {
    list-style: none;
    top: 20px;
    left: 15px;
    padding: 0 0.4em 0.4em 1ch;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1000;
    display: none;
}

.searchResults li {
    cursor: pointer;
}

.searchResults li:hover {
    background-color: #f0f0f0;
}

/* #endregion Search styles */

/* #region Theme switch styles */
.themeSwitch {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.themeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.themeSlider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.5s;
}

.themeSlider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F8F9FA;
    transition: 0.5s;
}

input:checked + .themeSlider {
    background-color: #B57EDC;
}

input:checked + .themeSlider:before {
    transform: translateX(26px);
}

input:focus + .themeSlider {
    box-shadow: 0 0 1px #B57EDC;
}

.themeSlider.round {
    border-radius: 34px;

}.themeSlider.round:before {
    border-radius: 50%;
}

/* #endregion Theme switch styles */

/* #region Artist div styles */
.artists {
    align-self: flex-start;
    padding-right: 5px;
}

.artistlistHeading {
    color: var(--lightThemeHeading)
}

/* #endregion Artist div styles */

/* #region Artist information div styles */

.artistPara {
    margin-block-start: 0em;
}

.information {
    display: flex;
    flex-direction: inherit;
    align-self: flex-end;
    max-height: inherit;
    overflow: hidden;
}

.artistInformation {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 20vw;
    max-width: 30vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    
}

.artistName {
    color: var(--lightThemeHeading);
}

.artistBio {
    padding: 10px;
    min-height: 10lh;
    height: 12lh;
    min-width: var(--artistInfoMinWidth);
    max-height: 40%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #F8F5FC;
    box-shadow: 0 0 4px 2px rgba(216, 180, 226, 0.25) inset;
    border-radius: 8px;
}

.artistBio p {
    color: #5C5C5C;
}

.artistBio a {
    text-decoration: none;
    color: #8A2BE2;
}

.artistBio a:hover {
    color: #B57EDC;
}

.albumListHeading {
    color: var(--lightThemeHeading)
}

/* #endregion Artist information div styles */

/* #region Album information div styles */
.albumInformation {
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-width: 94vh;
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
}

.albumCover {
    align-self: center;
    height: var(--albumCoverScaling);
    width: var(--albumCoverScaling);
    max-width: 110px;
    max-height: var(--albumCoverDimensions);
    box-shadow: 0 0 4px 2px rgba(216, 180, 226, 0.25);
    border-radius: 1px;
    margin-top: 5px;

}

.albumInfoTbl {
    align-self: center;
    text-align: var(--tblTextAlign);
    border-collapse: separate;
    border-spacing: 2ch 5px; 
    table-layout: auto;
}
.albumInfoTbl tr {
    margin-top: 3px;
    overflow: hidden;
    border: solid;
    border-width: 0px 1px 0px 1px;
    border-radius: 5px;
}

.albumInfoTbl th {
    font-weight: 600;
    white-space: nowrap;
    color: #4A4A4A;
}

.albumInfoTbl td {
    color: #5C5C5C;
}

/* #region Tracklist styles */
.tracklistHeading {
    width: 10ch;
    color: var(--lightThemeHeading)
}

.trackList {
    width: fit-content;
}

.numCol {
    width: 2.5ch;
}

.titleCol {
    width: auto;
}

.durationCol {
    width: 7ch;
}

.tracklistTbl {
    min-width: 110px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: auto;
}

.tracklistTbl th, .tracklistTbl td {
    text-align: var(--tblTextAlign);
    text-indent: 0.5ch;
}

.tracklistTbl thead th {
    position: sticky;
    background-color: #DDA0DD;
    color: #333333;
    top: 0;
    z-index: 2;
}


.tracklistTbl tr {
    color: #fafafa;
}

.tracklistTbl tr:nth-child(even) {
    background-color: #008080;
}

.tracklistTbl tr:nth-child(odd) {
    background-color: #B57EDC;
}

.tracklistTbl td:hover {
    background-color: rgb(225, 225, 225);
    color: black;
}

.tracklistTbl tfoot tr {
    color: black;
}

.tracklistTbl tfoot th, .tracklistTbl tfoot td {
    position: sticky;
    background-color: #DDA0DD;
    color: #333333;
    bottom: 0;
    z-index: 2;
}

/* #endregion Tracklist styles */

/* #endregion Album information div styles */

/* #region ul + li styles */
.artistList, .albumList {
    list-style: none;
    padding: 0px;
}

.artistList li {
    min-width: 33ch;
    background-color: #B5dc7e;
}

.artistList li:hover {
    background-color: #DDA0DD;
}

.albumsDiv {
    max-height: 94vh;
}

.albumList {
    min-width: 55ch;
    max-width: 60vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.artistList li, .albumList li {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    position: relative;
    color: #F8F9FA;
    margin-bottom: var(--liMarginB);
    padding: var(--liPadding);
    cursor: pointer;
    border: none;
    border-radius: var(--liBorderRadius);
}

.artistList li {
    color: #4A4A4A;
}

.albumList li {
    background-color: #B57EDC;
}

.albumList li:hover {
    background-color: #DDA0DD;
    color: #333333;
}

.artistList li span, .albumList li span {
    flex: 0 0 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.artistList li span:after, .albumList li span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right: 10px;
    transition: 0.5s;
}

li:hover span {
    padding-right: 25px;
}

li:hover span:after {
    opacity: 1;
    right: 0;
}

/* #endregion ul + li styles */


/* #region Dark theme styles */

/* Artist list */
body.darkTheme .artistlistHeading {
    color: var(--drkThemeHeading);
}

/* Artist description */
body.darkTheme .artistName {
    color: var(--drkThemeHeading)
}

body.darkTheme .albumListHeading {
    color: var(--drkThemeHeading);
}

body.darkTheme .artistBio {
    background-color: #423042;
}

body.darkTheme .artistBio p {
    color: #ECECEC;
}

body.darkTheme .artistBio a {
    text-decoration: none;
    color: #8A2BE2;
}

body.darkTheme .artistBio a:hover {
    color: #B57EDC;
}

body.darkTheme .tracklistHeading {
    color: var(--drkThemeHeading)
}

/* Album info */
body.darkTheme .albumInfoTbl th, 
body.darkTheme .albumInfoTbl td {
    color: #ECECEC;
}

/* #endregion Dark theme styles */

/* #region @media */
@media (min-width: 1024px) {
    .container {
        justify-content: space-between;
    }

    .app {
        flex-direction: row;
        gap: 25px;
        
    }

    .information {
        justify-content: space-between;
        gap: inherit;
    }
    .albumCover {
        max-width: 300px;
    }
    .tracklistTbl {
    min-width: 300px;
    }
}

/* #endregion @media */